<h1>VG Meetup</h1>

<form action='/login' action='post'>
  <label for='username'>Username: </label>
  <input type='text' name='username'>
  <br><br>
  <label for='username'>Password: </label>
  <input type='password' name='password'>
  <br><br>
  <input type='submit' value='Sign In'>
</form>
