<div class='central_container'>
  <h2>VG Meetup</h2>
  <h4>New member signup</h4>
  <form action='/sign_up' action='post'>
    <label for='username'>Username: </label>
    <input type='text' name='username' required>
    <br><br>
    <label for='username'>Password: </label>
    <input type='password' name='password'required>
    <br><br>
    <label for='firstname'>First Name: </label>
    <input type='text' name='firstname'required>
    <br><br>
    <label for='lastname'>Last Name: </label>
    <input type='text' name='lastname'required>
    <br><br>
    <label for='email'>Password: </label>
    <input type='email' name='email'required>
    <br><br>

    <input type='submit' value='Sign Up'>
  </form>
  <span class='subtext'>Already a member? <a href='/user/login'>login</a></span>

</div>
