
<table>
  <tr>
    <th>Title</th>
    <th>Release Year</th>
  </tr>
  <% Game.all.each do |game| %>
    <tr>
      <td><a href=<%="games/#{game.slug}"%>> <%= game.title %> </a></td>
      <td><%= game.release_year %></td>
    </tr>
  <% end %>
</table>
