<table>
  <tr>
    <th>Title</th>
    <th>Release Year</th>
  </tr>
  <tr>
    <td><%= @game.title %></td>
    <td><%= @game.release_year %></td>
  </tr>
</table>
<a href =<%="/games/#{@game.slug}/edit"%>> Edit </a>
<a href =<%="/games/#{@game.slug}/delete"%>> Delete </a>
