<h1>homepage</h1>

<div class='page_section'>
  My Information
  <table class='vertical_list'>
      <tr>
        <th>Username: </th>
        <td><%=@user.username%></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><%=@user.email%></td>
      </tr>
      <tr>
        <th>First Name:</th>
        <td><%=@user.firstname.capitalize%></td>
      </tr>
      <tr>
        <th>Last Name:</th>
        <td><%=@user.lastname.capitalize%></td>
      </tr>
    </table>
</div>
