<div class='flex-container-vertical'>

  <div class='page_section'>
    <table>
      <tr>
        <th>Username</th>
        <th>Email</th>
      </tr>
      <% User.all.each do |user| %>
        <tr>
          <td><%=user.username %></td>
          <td><%=user.email %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
