<!doctype html>
<html>
  <head>
    <title>VG Meetup</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
  </head>
  <header>
    <% if logged_in? %>
      Hello <%= current_user.firstname %>
      <a href='/logout'>log out</a>
    <% end %>
  </header>
  <body>

    <%= yield %>

  </body>
</html>
