<!doctype html>
<html>
  <head>
    <title>VG Meetup</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
  </head>
  <header>
    <%=logged_in?%>
  </header>
  <body>

    <%= yield %>

  </body>
</html>
