<div class='central_container'>
  <h2>VG Meetup</h2>
  <form action='/login' method='post'>
    <label for='username'>Username: </label>
    <input type='text' name='username'>
    <br><br>
    <label for='username'>Password: </label>
    <input type='password' name='password'>
    <br><br>
    <input type='submit' value='Sign In'>
  </form>
  <span class='subtext'>Not a member yet? <a href='/user/sign_up'>sign up</a></span>
</div>
